body {
  display: flex;
  align-items: center;
}

#canvas {
  background-color: black;
}

#tester {
  background-color: black;
  object-fit: none;
  object-position: -2px -177px;
  width: 25px;
  height: 25px;
}
