body {
  display: flex;
  align-items: center;
}

#canvas {
  background-color: black;
}

/*#enemy1-closed {
  object-fit: none;
  object-position: -2px -177px;
  width: 25px;
  height: 25px;
}

#enemy1-open {
  object-fit: none;
  object-position: -26px -177px;
  width: 25px;
  height: 25px;
}*/
